
/* This part is dedicated to whole body styling */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Gothic&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');
@import './variables';


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    @include flexCenter();
    height: 100vh;
    background-color: $backgroundColor;

}

.main-section {
    background-color: $cardColor;
    border-radius: 0.4rem;
}

.card {
    padding: 1.4rem;
    @include flexColumn();
    gap: 1rem
}

.input-section {
    @include flexColumn();
    gap: 1.7rem;
    border-bottom: 2px solid $borderColor;
    padding: 1rem 0;

    .inputfield {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            cursor: pointer;
        }

        input {
            padding: 0.4rem 3rem;
            outline: none;
            border: 1px solid $borderColor;
            border-radius: 0.3rem;
        }
    }
    
    

    
}

.types {
    display: flex;
    gap: 2.5rem;

    .choices {
        display: flex;
        gap: 0.8rem;

        p {
            color: rgb(71, 71, 71);
            cursor: pointer;
        }
    }

    .clr-btn {
        button {
            padding: 0.2rem 1rem;
            background-color: $buttonColor;
            border: none;
            color: $cardColor;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

.tasks-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .task {
        border-bottom: 1.3px solid $borderColor;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            color: $buttonColor;
            cursor: pointer;
        }

        .dots {
            margin-left: 2rem;
        }

        .mini-card {
            display: none;
            flex-direction: column;
            gap: 0.3rem;
            background-color: $cardColor;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 0.8rem;
            border-radius: 0.3rem;
            position: absolute;
            right: 32%;

        .mini-card.active {
            display: flex;
        }

            .edit, .delete {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                cursor: pointer;

                i {
                    font-size: 0.8rem;

                }
            }
        }
    }
}





