
/* Here I'm declaring some variables for each part of the layout*/

$backgroundColor: rgb(111, 34, 255);
$buttonColor: rgb(142, 21, 255);
$textColor: black;
$cardColor: white;
$borderColor: rgb(223, 223, 223);

